* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2a4b9a;
}

.container {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.card .card-single {
  width: 30%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card .img-fluid {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}

.card-single:hover .img-fluid {
  filter: grayscale(0%);
}

.card-info-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  background: var(--primary-color);
  padding: 20px 40px;

  color: #fff;
  transform: translateY(70%);
  transition: 0.3s ease-in-out;
}

.card-single:hover .card-info-container {
  transform: translateY(0%);
}

.card-info-container h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 13px;
}

.card-info-container p {
  font-size: 16px;
  line-height: 23px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    max-width: 95%;
  }
  .card .card-single {
    width: 100%;
  }
}
